<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang=" fr" >
<head>
    <meta http-equiv ="Content-Type" content="text/ html; charset =UTF-8" />
    <meta http-equiv ="X-UA-Compatible" content="IE=edge, chrome=1">
        <title>the code editor in a textarea</title>
 

<form action='' method='post'>
<textarea rows="20" cols="400" id="scriptText" name="scriptText">
$!scriptText
</textarea>
<input type="submit" name="Submit" value="run">
</form>


<hr class="hr4" />
<div>
<pre id="response">
$!result
</pre>
</div>
</body>
</html>
