<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="SystemAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">
	    
    	<Encoding>UTF-8</Encoding>
    	    
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">    
            <FileNamePattern>${com.uulookingfor.iweb.logs}/sys/iweb.%d{yyyy-MM-dd}.log</FileNamePattern>    
            <MaxHistory>30</MaxHistory>    
        </rollingPolicy>    
        
        <layout class="ch.qos.logback.classic.PatternLayout">    
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n  
            </pattern>    
        </layout>
           
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
        	<MaxFileSize>500MB</MaxFileSize>  
       	</triggeringPolicy>   
        
    </appender>
    
    <appender name="RequestAppender"  class="ch.qos.logback.core.rolling.RollingFileAppender">
	    
    	<Encoding>UTF-8</Encoding>
    	    
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">    
            <FileNamePattern>${com.uulookingfor.iweb.logs}/sys/request.%d{yyyy-MM-dd}.log</FileNamePattern>    
            <MaxHistory>30</MaxHistory>    
        </rollingPolicy>    
        
        <layout class="ch.qos.logback.classic.PatternLayout">    
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n  
            </pattern>    
        </layout>
           
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">  
        	<MaxFileSize>500MB</MaxFileSize>  
       	</triggeringPolicy>   
        
    </appender>
    
	<logger name="Request" level="INFO" additivity="false">
   		<appender-ref ref="RequestAppender" />
   	</logger>  

  	<root level="debug">
	    <appender-ref ref="SystemAppender" />
  	</root>
  
</configuration>
